html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;

  code {
    background-color: rgb(216, 216, 216);
  }
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}


.superTitle {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}


.title,
.description {
text-align: center;
}

.description {
line-height: 1.5;
font-size: 1.5rem;
}